* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  font-weight: lighter;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 50px 75px;
  background-color: white;
}

.logo {
  width: 240px;
  height: 60px;
}

.nav-link a {
  color: #545454;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link {
  display: flex;
  gap: 32px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-button {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.bottom-bar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 50px 75px;
  height: 50px;
  background-color: white;
}

.category-nav a {
  padding: 10px 15px;
  color: #121212;
  text-decoration: none;
  border-radius: 5px;
  font-size: 25px;
  background-color: #EFEFEF;
  transition: all 0.3s ease;
}

.category-nav {
  display: flex;
  gap: 12px;
  margin-top: 34px;
}

.search-button {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hero {
  display: flex;
  height: 550px;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF6FD;
  border-radius: 20px;
  padding: 80px 0px 60px 80px;
  margin: 50px 75px 100px 75px;
}

h1 {
  color: black;
  font-weight: normal;
  font-size: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-title {
  color: black;
  font-weight: normal;
  font-size: 60px;
  margin-bottom: 13px;
  text-align: right;
}

.hero-desc {
  color: black;
  font-size: 30px;
  margin-bottom: 40px;
}

.hero-image img {
  width: 470px;
  height: 690px;
}

.hero-text {
  max-width: 587px;
}

.btn {
  align-items: center;
  padding: 10px 21px;
  text-decoration: none;
  border-radius: 71.38px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.btn-shop {
  color: white;
  font-size: 32px;
  background-color: #121212;
}

.btn-explore {
  color: black;
  font-size: 32px;
  background-color: white;
}

.reason {
  background-color: #F0F0F0;
  padding: 40px 50px;
  margin: 50px 75px 100px 75px;
}

.reason h2 {
  color: black;
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 50px;
}

.reason-text {
  font-size: 27px;
  margin: 16px 0px 16px 24px;
  max-width: 617px;
}

.reason-title {
  font-weight: normal;
}

.reason-desc {
  margin-bottom: 30px;
}

.reason-content {
  display: flex;
}

.product {
  background-color: white;
  margin: 50px 75px 100px 75px;
}

.product h2 {
  color: black;
  font-weight: normal;
  font-size: 50px;
}

.view {
  color: black;
  font-size: 30px;
  transition: all 0.3s ease;
}

.product-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0px 20px;
}

.rate {
  color: black;
  font-size: 20px;
  font-weight: normal;
}

.stars {
  color: #FAAA4C;
  font-size: 20px;
}

.card figure {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-bottom {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 30px 20px;
  font-size: 15px;
}

.btn-cart {
  color: white;   
  background-color: black;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

.old-price {
  text-decoration: line-through;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}

.new-price {
  font-weight: normal;
}

.card {
  background-color: #F0F0F0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #E4E4E4;
  box-shadow: 2 4px 26px rgba(0,0,0,0.1);
}

.all-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}

.testimonial {
  background-color: #F0F0F0;
  margin: 50px 75px 100px 75px;
  padding: 60px 20px;
}

.testimonial h2 {
  color: black;
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 50px;
}

.testimonial-people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.testimonial-card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.testimonial-card img{
  display: block;
  margin: 0 auto 15px;
}

.testimonial-card h3 {
  font-size: 24px;
  font-weight: normal;
  color: black;
  margin-bottom: 8px;
}

.testimonial-card p {
  font-size: 24px;
  color: black;
}

p strong {
  font-weight: normal;
}

.sale {
  padding: 60px 40px;
  text-align: center;
  background: linear-gradient(
    to right,
    #D1068C 0%,
    #1310A6 51%,
    #7E1B5C 100%
  );
  color: white;
  margin: 50px 75px 100px 75px;
}

.sale-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sale-title {
  font-size: 58px;
  font-weight: bold;
}

.sale-desc {
  font-size: 36px;
}

.sale-reminder {
  font-size: 84px;
  font-weight: normal;
  margin: 24px 0px;
}

#timer {
  font-weight: normal;
}

.btn-sale {
  color: black;
  font-size: 32px;
  background-color: white;
}

.guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F0F0;
  margin: 50px 75px 100px 75px;
  padding: 60px 20px;
}

.guide h2 {
  color: black;
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 60px;
}

.guide-text {
  font-size: 25px;
  gap: 10px;
  margin: 16px 0px 16px 24px;
}

.guide-text p strong {
  text-decoration: underline;
}

.guide-title {
  font-weight: normal;
}

.guide-desc {
  margin-bottom: 30px;
}

.guide-image img {
  margin-top: -70px;
  margin-right: -20px;
}

.guide-content {
  display: flex;
}

.btn-readmore {
  color: black;
  font-size: 32px;
  background-color: white;
  margin-top: 30px;
}

footer {
  background-color: #121212;
  color: white;
}

.footer-content {
  max-width: 1200px;  
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-section a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-section a:hover {
    color: white;
}

.newsletter {
    max-width: 285px;
    text-align: right;
}

.newsletter p {
    margin-bottom: 18px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    background: #E9E9E9; 
    border-radius: 5px;
}

.subscribe-form input {
    border: none;
    padding: 10px 15px;
    background: transparent;
    flex: 1;
    outline: none;
}

.subscribe-form button {
    background: black;
    color: white;
    border: 1px solid #E9E9E9;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #727272;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #727272;
}

.nav-link a:hover {
  font-weight: normal;
  color: #2E2E2E;
  transform: scale(1.1);
}

.nav-link a:active {
  color: #2E2E2E;
  text-decoration: underline;
  font-weight: normal;
}

.nav-link a:focus {
  color: #2E2E2E;
  text-decoration: underline;
  font-weight: normal;
}

.category-nav a:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.category-nav a:active {
  background-color: #727272;
  color: white;
}

.category-nav a:focus {
  background-color: black;
  color: white;
}

.btn:hover {
  background-color: #D1068C;
  color: white;
  transform: scale(1.1);
}

.btn:hover img {
  filter: brightness(0) invert(1);
}

.btn:active {
  background-color: #727272;
  color: white;
}

.icon:hover {
  transform: scale(1.3);
}

.view:hover {
  color: black;
  transform: scale(1.1);
}

.testimonial-card:hover {
  transform: scale(1.01);
}

.footer-section a:hover {
  font-weight: normal;
  transform: scale(1.1);
}

.footer-section a:active {
  font-weight: normal;
  text-decoration: underline;
}

.footer-section a:focus {
  font-weight: normal;
  text-decoration: underline;
}

.subscribe-form button:hover{
  transform: scale(1.1);
  background-color: #D1068C;
}

.subscribe-form button:active{
  transform: scale(1.1);
  background-color: #727272;
}