body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #ffffff;
      color: #222;
    }
    
header {
      border-bottom: 1px solid #eee;
      padding: 16px 32px;
    }
    
nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

.icon {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.btn svg {
  width: 24px;
  height: 24px;
}

h2 svg {
  background: none;
  border: none;
  cursor: pointer;
  color: black; /* warna ikon */
  width: 24px;
  height: 24px;
}